{% extends 'registration/base.html' %}

{% block main %}

<h2>パスワードリセット</h2>
<div style="text-align: center;">
    <span>パスワードリセットに必要なURLを受信できるメールアドレスを入力してください</span>
</div>

<form action="{% url 'password_change' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="ROrTXt4l9nedgIb5F6HGTDxbxGdA1yiYgDEQBXu04K5O0Wy6awtkPvIIh7O053io">
    <table  class="signup_table">
        <tr class="contact">
            <th>
                <label for="id_username" class="contact_label">メールアドレス:</label>
            </th>
            <td>
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"  class="contact_textbox">
            </td>

        </tr>

    </table>
    <div class="input-group-apend">
        <input class="btn btn-outline-warning" type="submit" value="パスワードリセットURLを送信する" id="search_button">
    </div>
  </form>


{% endblock %}