{% extends "nagoyameshi/base.html" %}
{% load static %}


{% block extra_head %}
{% endblock %}

{% block main %}

<div>
    <h2 style="text-align:center">お問い合わせ</h2>
</div>

<form>
    <!--名前-->
    <div>
        <div>
            <label class="contact_label">お名前</label>
        </div>
        <div>
            <input type="text" name="name" placeholder="全角フルネームで入力" class="contact_textbox">
        </div>
    </div>

    <!--フリガナ-->
    <div class="contact">
        <div>
            <label class="contact_label">フリガナ</label>
        </div>
        <div>
            <input type="text" name="name_kana" placeholder="全角カタカナで入力" class="contact_textbox">
        </div>
    </div>

     <!--メールアドレス-->
     <div class="contact">
        <div>
            <label class="contact_label">メールアドレス</label>
        </div>
        <div>
            <input type="text" name="email" placeholder="メールで回答希望の場合は必須" class="contact_textbox">
        </div>
    </div>

    <!--電話番号-->
    <div class="contact">
        <div>
            <label class="contact_label">電話番号</label>
        </div>
        <div>
            <input type="text" name="tel" placeholder="電話で回答希望の場合は必須" class="contact_textbox">
        </div>
    </div>

     <!--問い合わせ内容-->
     <div class="contact">
        <div>
            <label class="contact_label">お問い合わせ内容必須</label>
        </div>
        <div>
            <input type="text" name="inquiry" placeholder="内容を入力" class="contact_textbox">
        </div>
    </div>

    <!--回答方法選択-->
    <div class="contact">
        <div>
            <label class="contact_label">ご希望の回答方法</label>
        </div>
        <div>
            <input type="radio" value="emali" name="answer"  class="contact_radiobutton"><label>メール</label>
            <input type="radio" value="tel" name="answer"  class="contact_radiobutton"><label>電話</label>
        </div>
    </div>

    <!--送信-->
    <div class="input-group-apend">
        <input class="btn btn-outline-warning" type="submit" value="送信">
    </div>
</form>
    

{% endblock %}
