{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}
<form action="" method="GET">
    {# TODO: ここで後にカテゴリ検索(多対多の検索)ができるように改良していく？ #}
    <div class="input-group">
        <input class="form-control" type="text" name="search" placeholder="店舗名、カテゴリ、エリアなどで検索">
        <div class="input-group-apend">
            <input class="btn btn-outline-warning" type="submit" value="検索">
        </div>
    </div>
</form>

{% for restaurant in restaurants %}
<a href="{% url 'nagoyameshi:restaurant_detail' restaurant.id %}">
    <div>{{ restaurant.name }}</div>
</a>

{% endfor %}


{% endblock %}

