{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

<h2 style="text-align:center">{{ restaurant.name}}</h2>
<div class="restaurant_image"><img src="{{ restaurant.image.url }}" alt="{{photo.name}}" ></div>
<table class="table">
    <tr>
        <th>カテゴリ</th>
            <td>
                {% for category_name in restaurant.category_name.all %}
                {{ category_name.category_name }}
                {% endfor %}
            </td>
    </tr>
    <tr>
        <th>郵便番号</th>
        <td>{{ restaurant.post_code }}</td>
    </tr>
    <tr>
        <th>住所</th>
        <td>{{ restaurant.address }}</td>
    </tr>
    <tr>
        <th>定休日</th>
            <td>
                {% for holiday in restaurant.holiday.all %}
                {{ holiday.holiday }}
                {% endfor %}
            </td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td>{{ restaurant.tel }}</td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td>{{ restaurant.email }}</td>
    </tr>
    <tr>
        <th>支払い方法</th>
            <td>
                {% for paymethod in restaurant.paymethod.all %}
                {{ paymethod.paymethod }}<br>
                {% endfor %}
            </td>
    </tr>
    <tr>
        <th>駐車場</th>
        <td>{{ restaurant.has_parking }}</td>
    </tr>
</table>


<form action="{% url 'nagoyameshi:favorite' %}" method="post"  class="restaurant_detail_submit">    
    {% csrf_token %}
    <input type="hidden" name="restaurant" value="{{ restaurant.id }}">
    <input class="btn btn-outline-warning" type="submit" value="お気に入り登録" >
</form>

<div class="back_top"><a href="{% url 'nagoyameshi:index' %}">トップページに戻る</a></div>



{% endblock %}