{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
{% endblock %}

{% block main %}

{% if request.user.is_authenticated %}

<!--有料会員の場合-->
{% if request.user.customer %}

<!--レビュー投稿-->
    {% for review in reviews %}
    <div class="border">
        <div>{% for restaurant in review.restaurant.all %}{{ restaurant.restaurant }}{% endfor %}</div>
        <div>{% for user in review.user.all %}{{ user.user }}{% endfor %}</div>
        <div class="review_star">
            <span class="review_true_star">{% for s in review.star_icon.true_star %}<i class="fas fa-star"></i>{% endfor %}</span>
            <span class="review_false_star">{% for s in review.star_icon.false_star %}<i class="far fa-star"></i>{% endfor %}</span>
        </div>
        <div>{{ review.subject }}</div>
        <div>{{ review.content }}</div>
    </div>
    {% endfor %}
{% endif %}
{% endif %}


{% endblock %}